<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
      <div>
      <div><h1>Login Now</h1>
        <p>if You have  account already</p>
     </div>
        <form action="/login" method="post">
          <input type="email" name="email" id="" placeholder="enter your email...." value="<%=locals.email %>">
          <input type="password" name="password" id="enter password.....">
          <p class="err"> <%= locals.message %> </p>
          <button>Login</button>
        </form>
      </div>
      </main>
</body>
</html>